.test {

}

.title {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.03em;
  line-height: 1.15;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

.subtitle {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(163, 163, 163);
  -webkit-font-smoothing: antialiased;
}

.description {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 300;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.number {
  font-weight: 700!important;
  font-size: 2.48832rem!important;
  font-family: "Helvetica Neue Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.fetch-text {
  color: rgb(51, 51, 51);
  font-weight: 700;
  background: rgb(246, 246, 246);
  border-radius: 20px;
  padding: 0.6ex 1.4ex;
}
